* {
    margin: 0;
    padding: 0;
}

/* Body Styles */ 

body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 10px;
    width: 100vw;
    text-align: center;
    overflow-x: hidden;
}

img {
    max-width: 100%;
}

hr {
    width: 100%;
    opacity: 0.5;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

/* Header Styles */

header {
    background-color: lightslategray;
    padding: 1rem;
    height: 100vh;
}

nav ul {
    font-size: 1.2rem;
    display: flex;
    justify-content: center;
}

nav li {
    margin: 0 1rem;
}

header h1 {
    font-size: 5rem;
}

header p{
    font-size: 1.6rem;
    padding: 1rem 0;
    border-bottom: 1px solid white;
}

.rotate{
    margin-top: 2rem;
    font-size: 3rem;
    opacity: 0.4;
    padding-bottom: 7rem;
}

/* Parallax Styles */

.parallax {
    background-image: url(images/Graphic-Design.jpg);
    height: 100vh;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

.parallax ul {
    font-size: 1.8rem;
    padding: 1rem;
    color: white;
}

.parallax li {
    margin: 2rem 0;
}

/* Recent Work Section */

.recent-work {
    display: flex;
    flex-direction: column;
    font-size: 1.3rem;
    margin: 1rem 0;
}

.recent-work-title {
    font-size: 1.6rem;
}

.recent-work-info {
    padding: 1rem;
}

.recent-work-info a:hover {
    color: teal;
    transition: .2s;
}

.recent-work-info h4 {
    font-size: 1.4rem;
}

.features > li {
    margin: 1rem 0;
}

/* Contact Us Section */

#contact {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    height: 100vh;
    background-color: teal;
}

.contact-heading {
    margin: 0;
    font-size: 5rem;
}

.contact-text {
    font-size: 1.4rem;
    margin-bottom: 3rem;
}

#contact .rotate {
    display: none;
}

/* Projects page */

.project-title {
    font-size: 1.6rem;
}
.projects{
    display: flex;
    flex-direction: column;
}

.grid-item {
    margin-bottom: 1rem;
    padding: 1rem;
    background-color: lightslategray;
}




@media (min-width: 860px) {
    nav ul {
        justify-content: flex-end;
    }

    .rotate {
        margin:  2rem 0 0 0;
        writing-mode: vertical-lr;
        text-orientation: upright;
        font-size: 5rem;
    }

    header {
        height: 100%;
    }

    .recent-work {
        flex-direction: row;
    }

    .recent-work-info {
        flex: 1;
        padding: 1rem;
    }

    .recent-work-image {
        flex: 2;
        border: lightslategray 1rem solid;
    }

    .recent-work-image {
        width: 100%;
        height: 100%;
    }

    .move-right {
        order: 1;
    }

    .contact-heading {
        margin: 0;
        font-size: 8rem;
    }

    #contact {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        text-align: left;
    }

    #contact .rotate {
        display: block;
    }

    .projects {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }

    .grid-item {
        flex-basis: 45%;
    }
}

.fade-in-custom {
    opacity: 0;
    animation: fadein 1s ease-in;
    animation-fill-mode: forwards;
}

.delay1 {
    animation-delay: 0.5s;
}

.delay2 {
    animation-delay: 1.5s;
}

@keyframes fadein {
    to {opacity: 1;}
}

@media (min-width: 1000px) {
    .projects {
        display: grid;
        height: 100vh;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 20px
    }

    .grid-item {
        margin-bottom: 0;
    }
}

.footer-bottom {
    background-color: teal;
    font-size: 1rem;
    padding: 1rem;
}